<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{title}</title>
    <link rel="stylesheet" href="{styles}">
</head>
<body>
    <div class="subject">
        Subject: {subject}
    </div>
    <div class="greeting">
        Dear {company},
    </div>
    <div class="body">
        I am writing to express my interest in the {position} position.<br/>
        In my previous role at {previous company}, I was {previous position}.<br/>
        I look forward to the possibility of discussing this exciting opportunity with you.<br/>
        I am available for an interview at your earliest convenience.
    </div>
    <div class="signature">
        Sincerely,<br/>{name}
    </div>
</body>
</html>