<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="https://jakarta.ee/xml/ns/jakartaee"
	xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
	id="WebApp_ID" version="6.0">
	<display-name>ServletLifeCycle</display-name>
	<welcome-file-list>
		<welcome-file>VisitCounterServlet</welcome-file>
	</welcome-file-list>
	<servlet>
		<description></description>
		<display-name>VisitCounterServlet</display-name>
		<servlet-name>VisitCounterServlet</servlet-name>
		<servlet-class>edu.epam.fop.web.VisitCounterServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>VisitCounterServlet</servlet-name>
		<url-pattern>/VisitCounterServlet</url-pattern>
	</servlet-mapping>
</web-app>