<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee
                      https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
	version="6.0">

	<request-character-encoding>UTF-8</request-character-encoding>
	<response-character-encoding>UTF-8</response-character-encoding>

	<servlet>
		<description></description>
		<display-name>CalculatorServlet</display-name>
		<servlet-name>CalculatorServlet</servlet-name>
		<servlet-class>edu.epam.fop.web.CalculatorServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>CalculatorServlet</servlet-name>
		<url-pattern>/CalculatorServlet</url-pattern>
	</servlet-mapping>

	<display-name>simple-web-calculator</display-name>

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>

	<context-param>
		<param-name>expression-regex</param-name>
		<param-value>^(?&lt;operand1&gt;[-+]?[0-9]*\.?[0-9]+)(?&lt;operation&gt;[-+*/])(?&lt;operand2&gt;[-+]?[0-9]*\.?[0-9]+)$</param-value>
	</context-param>

	<filter>
		<filter-name>EncodingFilter</filter-name>
		<filter-class>edu.epam.fop.web.EncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>

	<filter-mapping>
		<filter-name>EncodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<filter>
		<filter-name>LoggingFilter</filter-name>
		<filter-class>edu.epam.fop.web.LoggingFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>LoggingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<filter>
		<filter-name>ValidationFilter</filter-name>
		<filter-class>edu.epam.fop.web.ValidationFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>ValidationFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
</web-app>